h1 {
    font-family:cursive;
    color: rgb(29, 206, 40)
}

body {
    background-color: rgb(58, 36, 199)
}

p {
    color:rgb(29, 206, 40)
}

#abp {
    width: 800px;
    color:rgb(207, 252, 26)
}

#a {
    background-image: url(background.jpg);
}

#pool {
    float: left;
    margin: 10px;
}

#party {
    float: right;
    margin: 10px;
}
